markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1729622917073/work/dist
setuptools==75.1.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
wheel==0.44.0
